
AssemblyFiles/Android/Android_NDK_12_0/EcoLab1.bat
AssemblyFiles/Android/Android_NDK_12_0/jni/Android.mk
AssemblyFiles/Android/Android_NDK_12_0/jni/Application.mk
AssemblyFiles/Android/NsightTegra_3_4/AndroidManifest.xml
AssemblyFiles/Android/NsightTegra_3_4/Eco.Lab1UnitTest.sln
AssemblyFiles/Android/NsightTegra_3_4/Eco.Lab1UnitTest.vcxproj
AssemblyFiles/Android/NsightTegra_3_4/Eco.Lab1UnitTest.vcxproj.filters
AssemblyFiles/Android/NsightTegra_3_4/res/values/strings.xml
AssemblyFiles/AVR8/AtmelStudio_7_0/Eco.Lab1.atsln
AssemblyFiles/AVR8/AtmelStudio_7_0/Eco.Lab1.componentinfo.xml
AssemblyFiles/AVR8/AtmelStudio_7_0/Eco.Lab1.cproj
AssemblyFiles/AVR8/AtmelStudio_7_0/Eco.Lab1UnitTest.componentinfo.xml
AssemblyFiles/AVR8/AtmelStudio_7_0/Eco.Lab1UnitTest.cproj
AssemblyFiles/AVR8/AtmelStudio_7_0/upload.bat
AssemblyFiles/BCM283x/gcc_7_5_0/Makefile
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1.xcodeproj/project.pbxproj
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.pbxproj
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/AccentColor.colorset/Contents.json
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/AppIcon.appiconset/Contents.json
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/ColorMap.textureset/Contents.json
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/ColorMap.textureset/Universal.mipmapset/ColorMap.png
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/ColorMap.textureset/Universal.mipmapset/Contents.json
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Assets.xcassets/Contents.json
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Base.lproj/Main.storyboard
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Base.lproj/peerFont_1251.bmp
AssemblyFiles/iOS/Xcode_12_3/Eco.Lab1UnitTest/Info.plist
AssemblyFiles/K210/gcc_riscv64_8_2_0/Makefile
AssemblyFiles/Linux/gcc_7_4_0/build.sh
AssemblyFiles/Linux/gcc_7_4_0/Makefile
AssemblyFiles/Linux/gcc_7_4_0/MakefileExe
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/._project.xcworkspace
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.pbxproj
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcuserdata/vbashev.xcuserdatad/UserInterfaceState.xcuserstate
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/project.xcworkspace/xcuserdata/vbashev.xcuserdatad/WorkspaceSettings.xcsettings
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/xcshareddata/xcschemes/Dynamic.xcscheme
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1.xcodeproj/xcshareddata/xcschemes/Static.xcscheme
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/._project.xcworkspace
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.pbxproj
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcuserdata/vbashev.xcuserdatad/UserInterfaceState.xcuserstate
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/project.xcworkspace/xcuserdata/vbashev.xcuserdatad/WorkspaceSettings.xcsettings
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/xcuserdata/vbashev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AssemblyFiles/Mac/Xcode_12_3/Eco.Lab1UnitTest.xcodeproj/xcuserdata/vbashev.xcuserdatad/xcschemes/xcschememanagement.plist
AssemblyFiles/PIC32/MPLAB_X_IDE_5_50/Makefile
AssemblyFiles/PIC32/MPLAB_X_IDE_5_50/nbproject/configurations.xml
AssemblyFiles/PIC32/MPLAB_X_IDE_5_50/nbproject/project.xml
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1/.cproject
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1/.project
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1/.settings/language.settings.xml
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/.cproject
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/.project
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/.settings/language.settings.xml
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/EcoLab1.cfg
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/EcoLab1.launch
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/Startup/startup_stm32f407vgtx.s
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/STM32F407VGTX_FLASH.ld
AssemblyFiles/STM32/STM32CubeIDE_1_7_0/Eco.Lab1UnitTest/STM32F407VGTX_RAM.ld
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.opensdf
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.sdf
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.sln
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.vcxproj
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.vcxproj.filters
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1.vcxproj.user
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/1F5DF16EE1BF43B999A434ED38FE8F3A.dll.intermediate.manifest
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/1F5DF16EE1BF43B999A434ED38FE8F3A.exp
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/1F5DF16EE1BF43B999A434ED38FE8F3A.lib
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/1F5DF16EE1BF43B999A434ED38FE8F3A.pdb
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/CEcoLab1.obj
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/CEcoLab1Factory.obj
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/cl.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/CL.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/CL.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/Eco.Lab1.lastbuildstate
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/Eco.Lab1.log
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/Eco.Lab1.vcxprojResolveAssemblyReference.cache
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/Eco.Lab1.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/link.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/link.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/link.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/mt.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/mt.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/mt.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/vc100.idb
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1/DynamicDebug/vc100.pdb
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest.vcxproj
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest.vcxproj.filters
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest.vcxproj.user
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/cl.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/CL.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/CL.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.exe.intermediate.manifest
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.lastbuildstate
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.log
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.pdb
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.vcxprojResolveAssemblyReference.cache
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/Eco.Lab1UnitTest.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/EcoLab1.obj
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.14880.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.14880.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.16940.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.16940.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/link.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/mt.command.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/mt.read.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/mt.write.1.tlog
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/vc100.idb
AssemblyFiles/Windows/VisualStudio_10/Eco.Lab1UnitTest/DynamicDebug/vc100.pdb
AssemblyFiles/Windows/VisualStudio_10/ipch/eco.lab1-1feae823/1f5df16ee1bf43b999a434ed38fe8f3a-feb1aa73.ipch
AssemblyFiles/Windows/VisualStudio_10/ipch/eco.lab1unittest-5d26443/eco.ipch
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1.sln
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1.vcxproj
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1.vcxproj.filters
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1.vcxproj.user
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1UnitTest.vcxproj
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1UnitTest.vcxproj.filters
AssemblyFiles/Windows/VisualStudio_16/Eco.Lab1UnitTest.vcxproj.user
